
	.side-bar-left-thin{
		height: 100vh; 
		position: fixed; 
		left: -150;
		width: 150px; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-left-medium{
		height: 100vh; 
		position: fixed; 
		left: -250;
		width: 250px; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-left-wide{
		height: 100vh; 
		position: fixed; 
		left: -350;
		width: 350px; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-left-m-thin{
		height: 100vh; 
		position: fixed; 
		left: -30vw;
		width: 30vw; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-left-m-medium{
		height: 100vh; 
		position: fixed; 
		left: -60vw;
		width: 60vw; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-left-m-wide{
		height: 100vh; 
		position: fixed; 
		left: -90vw;
		width: 90vw; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}


	.side-bar-right-thin{
		height: 100vh; 
		position: fixed; 
		right: -150;
		width: 150px; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-right-medium{
		height: 100vh; 
		position: fixed; 
		right: -250;
		width: 250px; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-right-wide{
		height: 100vh; 
		position: fixed; 
		right: -350;
		width: 350px; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-right-m-thin{
		height: 100vh; 
		position: fixed; 
		right: -30vw;
		width: 30vw; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-right-m-medium{
		height: 100vh; 
		position: fixed; 
		right: -60vw;
		width: 60vw; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}

	.side-bar-right-m-wide{
		height: 100vh; 
		position: fixed; 
		right: -90vw;
		width: 90vw; 
		background-color: white;
		z-index: 1;
		background-color: #1A181B; /* burnt orange */  
	}



	.side-bar-inner{
		padding: 20px; 
		padding-top: 70px;
		position: absolute;

	}


	.side-bar-nav-element {
		color: white;
		padding: .3rem;
		padding-left: 2rem;
		width: 100%; 
		height: 10vh; 
		font-size: 4rem;
		margin-bottom: .2vh;
		font-family: 'LemonMilk', Verdana, Tahoma;
		border-radius: 10px 0px 0px 10px;
		cursor: pointer;
	}


	.side-bar-nav-element-special {
		color: rgba(218, 87, 16, 1); /* burnt orange */  
		padding: .3rem;
		padding-left: 2rem;
		width: 100%; 
		height: 10vh; 
		font-size: 5rem;
		margin-top: -1vh;
		margin-bottom: .2vh;
		font-family: 'LemonMilk', Verdana, Tahoma;
		border-radius: 10px 0px 0px 10px;
		cursor: pointer;
	}

	.side-bar-nav-tab-left{
		position: fixed; 
		width: 10px; 
		height: 100%; 
		left: 0px;
		background-color: #564D65; 
		z-index: 1; 
		text-align: center; 
		font-size: 18px; 
		cursor: pointer;

	}
	.side-bar-nav-tab-right{
		position: fixed; 
		width: 10px; 
		height: 100%; 
		right: 0px;
		background-color: #564D65; 
		z-index: 1; 
		text-align: center; 
		font-size: 18px; 
		cursor: pointer;

	}
	.side-bar-nav-tab:hover{
		background-color: #707070; 
	}