body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    overflow-x: hidden;
    /*position: fixed;*/
}
@font-face {
    font-family: "Coolvetica";
    src: url(../../utilities/fonts/coolvetica.ttf) format("truetype");
}
@font-face {
    font-family: "LemonMilk";
    src: url(../../utilities/fonts/LemonMilk.otf) format("truetype");
}
@font-face {
    font-family: "ChampagneLimousines";
    src: url(../../utilities/fonts/Champagne_Limousines.ttf) format("truetype");
}
a {
	color: black;
}
.padded-full-screen-text{
	padding-left: 1.5rem;
	padding-right: 1rem;
}
.sub-header-images{
	display: flex;
}
.tank-design-image-1{
	height: 55vw; 
	background-color: black;  
	background-image: url('../../utilities/images/tank-stock-photo1.jpg'); 
	background-size: 100% 100%;
	flex-grow: 1;
}
.tank-design-image-2{
	height: 35vw; 
	background-color: black;  
	background-image: url('../../utilities/images/tank-stock-photo2.jpg'); 
	background-size: 100% 100%;
	flex-grow: 1.5;
}
.tank-design-image-3{
	height: 35vw; 
	background-color: black;  
	background-image: url('../../utilities/images/tank-stock-photo3.jpg'); 
	background-size: 100% 100%;
	flex-grow: 1;
}

.page-subtitle-band{    
	width: 100%;
    background-color: rgba(218, 87, 16, 1);
    height: 7rem;
    font-size: 1.8rem;
    color: white;
    font-family: 'LemonMilk', Verdana, Tahoma;
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
}

.page-subtitle-text{    
    font-size: 1.7rem;
    color: white;
    font-family: 'LemonMilk', Verdana, Tahoma;
	text-align: center;
}

.page-wrapper {
	min-height: 100vh;
	position: relative;
}


.description-m{
	font-family: 'Champagne_Limousines', Verdana, Tahoma;
	font-size: 1rem;
	color: #333;
	margin-bottom: 1rem;
	width: 100%;
	word-break: break-word;
}

.bold-title-text{
	color: rgba(218, 87, 16, 1); /* burnt orange */ 	
	font-size: 1.5rem;
	font-family: 'LemonMilk', Verdana, Tahoma;
	width: 100%;
	margin-top: 0.2rem;
}
.black-title-text{
	color: black; /* burnt orange */ 	
	font-size: 1.8rem;
	font-family: 'LemonMilk', Verdana, Tahoma;
	width: 100%;
	margin-top: 0.2rem;
	text-align: left;
}