
	body, html{
		min-height: 100%;
		position: relative;
		max-width: 100%;
    	overflow-x: hidden;

	}

	@media only screen and (max-device-width: 480px) {
		html{
			font-size: 16px;
		}
	}

	@media only screen and (min-device-width: 480px) {
		html{
			font-size: 6px;
		}
	}

	.title-bar{
	    background-color: rgba(200, 200, 200, 1); /* light gray */
	    background-color: rgba(83, 202, 196, 1); /* light blue */ 
	    background-color: rgba(0, 0, 0, 1); /* black */ 
	    height: 15vh;
	    vertical-align: middle;
	    z-index: 1;
	    width: 100vw;
	    float: right;
	    position: fixed;
	  	padding-right: 10px;

	}

	.title-bar-over-image{
	    background-color: rgba(200, 200, 200, 1); /* light gray */
	    background-color: rgba(83, 202, 196, 1); /* light blue */ 
	    background-color: rgba(0, 0, 0, 0.5); /* black */ 
	    height: 15vh;
	    vertical-align: middle;
	    z-index: 1;
	    width: 100vw;
	    float: right;
	    position: fixed;

	}
	.title-bar-over-image-clear{
	    background-color: rgba(200, 200, 200, 1); /* light gray */
	    background-color: rgba(83, 202, 196, 1); /* light blue */ 
	    background-color: rgba(0, 0, 0, 0.5); /* black */ 
	    background-color: rgba(0, 0, 0, 0.0); /* clear */ 
	    height: 15vh;
	    vertical-align: middle;
	    z-index: 1;
	    width: 100vw;
	    float: right;
	    position: fixed;

	}

	.title-bar-row{
	    height: 15vh;
	}
	.quick-link{
		position: relative;
		color: gray;
	    height: 15vh;
		vertical-align: middle;
		line-height: 15vh;
		text-align: center;
		padding: 0;
		float: right;

	}
	.quick-link-clear{
		position: relative;
	    background-color: rgba(0, 0, 0, 0.0); /* black */ 
	    height: 15vh;
		vertical-align: middle;
		line-height: 15vh;
		text-align: center;
		padding: 0;
		float: right;

	}
	.quick-link-button{
		float: right;
	    height: 15vh;
		color: white;
		font-size: 40px;
		line-height: 15vh;
		width: 125px;
		font-family: 'Champagne_Limousines', Verdana, Tahoma;
		text-shadow: 1px 1px 10px black;
	}
	.quick-link-button-gray{
		float: right;
		height: 50px;
	    color: rgba(200, 200, 200, 1); /* light gray */
		font-size: 18px;
		line-height: 50px;
		width: 125px;
		font-family: 'Champagne_Limousines', Verdana, Tahoma;
		text-shadow: 1px 1px 10px black;


	}

	.hamburger-nav-button{
		float: right;
	    height: 15vh;
		color: white;
		font-size: 8rem;
		width: 100%;
		font-family: 'Champagne_Limousines', Verdana, Tahoma;
		text-shadow: 1px 1px 10px black;
	}

	.hamburger-nav{
		text-align: center;
	}

	.video{
		/* opacity: 0; */
		padding: 0;
	}


	.location-image-1{
		width: 100%;
		background-color: rgba(218, 87, 16, 1); /* burnt orange */  
		height: 10vh; 
		font-size: 5rem; 
		color: white;
		font-family: 'LemonMilk', Verdana, Tahoma;
	}
	.location-image-2{
		height: 55vw; 
		width: 100vw;
		background-color: black;  
		background-image: url('../../utilities/images/what-to-wear1.jpg'); 
		background-size: 100% 100%;
	}
	.location-image-3{
		height: 17vw; 
		width: 100%;
		background-image: url('../../utilities/images/matt-yell.jpg'); 
		background-size: 100% 100%; 
	}


	.close-side-panel{
		height: 15vh;
		padding: 10px;
		display: inline-block;
	}

	.title-level-text{
		height: 100%;
		color: white;
		font-size: 18px;
		line-height: 50px;
		font-weight: bold;
		text-align: left;
	}
	.top-level-text{
		font-weight: bold;
		font-size: 24px;
		color: white;
		text-shadow: 1px 1px 10px black;

	}
	.sub-level-text{
		font-weight: bold;
		font-size: 14px;
		color: gray;
		text-shadow: 1px 1px 10px black;
	}

	.intro-text-title-m{
		font-size: 6rem;
		font-family: 'LemonMilk', Verdana, Tahoma;
		color: black;
		text-align: left;
		line-height: 6rem;

	}
	.intro-text{
		font-family: 'Champagne_Limousines', Verdana, Tahoma;
		font-size: 18px;
		padding-right: 50px;
		padding-left: 50px;

	}
	.intro-text-m{
		font-family: 'Champagne_Limousines', Verdana, Tahoma;
		font-size: 3rem;
		text-align: left;

	}
	@media only screen and (max-width: 800px) {
    	.intro-text {
    	    font-size: 14px;
    	}
	}	
	.watch-video-link{
		font-family: 'Champagne_Limousines', Verdana, Tahoma;
		font-size: 20px;
		position: absolute;
		bottom: 5;
		right: 10;
		cursor: pointer;
		color: white;
	}

	.watch-video-link:hover{
		text-decoration: underline;
	}

	.main-about-content{
		position: absolute;
		bottom: 15%;
	}

	.main-content-experience{
		padding-left: 30px; 
		padding-top: 100px;
		padding-right: 30px;
	}

	.main-content-experience-m{
		padding-top: 5vh;
	}

	.attraction-image-m{
		width: 25vw; 
		height: 25vw;
	}

	.description-m{
		font-family: 'Champagne_Limousines', Verdana, Tahoma;
		font-size: 3rem;
	}

	.bold-text-formatted{
		color: rgba(218, 87, 16, 1); /* burnt orange */ 	
		font-size: 3rem;
		font-family: 'Champagne_Limousines', Verdana, Tahoma;
	}

	.bold-title-text{
		color: rgba(218, 87, 16, 1); /* burnt orange */ 	
		font-size: 5rem;
		font-family: 'LemonMilk', Verdana, Tahoma;
	}
	
	.padded-full-screen-text{
		padding-left: 3rem; 
		padding-right: 2rem;
	}

	.clear-padding{
		padding: 0;
	}
	.footer-buffer{
		width: 100vw;
		height: 15vh;
	}

	.footer-top-border{
		margin-right: 0; 
		margin-left: 0; 
		height: 2vh; 
		background-color: rgba(218, 87, 16, 1);
	}

	.footer-container{
		margin: auto 0px; 
		width: 100vw;
	}

	.footer-inner-container{
		margin-right: 0; 
		margin-left: 0; 
		height: 10vh; 
		margin-top: 2vh;
	}

	.footer-header{
		font-size: 2rem; 
		font-family: 'LemonMilk', Verdana, Tahoma; 
		overflow: hidden;
	}

	.footer-content{
		font-family: 'Champagne_Limousines', Verdana, Tahoma; 
		overflow: hidden;
		font-size: 1.8rem;
	}

	.banner-title-text{
		font-size: 7vh;
		font-family: 'LemonMilk', Verdana, Tahoma; 
		color: white;
		text-shadow: 1px 1px 10px black;

	}
	

	.tent-image{
		width: 30vw; 
		height: 30vw; 
		margin-right: 5vw;
	}

	.sideways-keg-photo{
		height: 66vw; 
		background-image: url('../../utilities/images/sideways-keg-icon.png'); 
		background-size: 80vw 66.67vw; 
		background-position: center; 
		background-repeat: no-repeat;
	}

	.keg-count-label{
		color: white;
		padding-left: 3rem;
		font-size: 2rem; 
		text-align: center; 
		font-family: "LemonMilk", Verdana, Tahoma;
	}

	.keg-count-value{
		color: white;
		padding-left: 1.5rem;
		margin-top: -0.2rem; 
		font-size: 3rem; 
		text-align: center; 
		font-weight: bold;
		font-family: "LemonMilk", Verdana, Tahoma;
	}

	.donation-description{
		font-size: 24px; 
		color: black;
		font-family: 'Champagne_Limousines', Verdana, Tahoma;

	}


	.tent-section{
		border-top: 2px solid rgba(218, 87, 16, 1);  
		padding-bottom: 25px;
	}

	.tent-description-container{
		height: 150px; 
		position: relative;
	}

	.tent-description{
		font-size: 20px; 
		position: absolute; 
		top: auto; 
		padding-top: 20px;
	}
	.tent-description-m{
		font-size: 1.0rem; 
	}

	.countdown-timer{
		padding-top: 10px;
		color: rgba(218, 87, 16, 1);
		font-size: 1.1rem;
		font-family: "Champagne_Limousines", Verdana, Tahoma;
		text-align: center;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		background-color: #564D65; 
		padding-bottom: 10px;
	}
	.date-banner{
		height: 8vh;
		width: 100%;
		background-color: #564D65; 
		font-family: "LemonMilk", Verdana, Tahoma;
		font-size: 3rem;
		color: white;
		display:flex;
		align-items: center; 
		justify-content: space-between;

	}
	.color-box{
		display: inline-block; 
		height: 5rem; 
		width: 5rem; 
		border-radius: 4px; 
	}

	
	.color-select-grid{
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
		grid-template-rows: 18vw 18vw 18vw;
	}

	.color-select-box{
		align-self: center;
		height: 100%;
		cursor: pointer;
	}

	
	.order-now-button{
		display: inline-block;
		margin-top: 2rem;
		padding: 1rem 1.5rem;
		color: white;
		border-radius: 5px;
		font-family: "LemonMilk", Verdana, Tahoma;
		background-color: rgba(218, 87, 16, 1); /* burnt orange */
		font-size: 3rem;  
		cursor: pointer;

	}

	.inline-card{
		background-color: rgba(86, 77, 101, 0.09);
		padding: 2.5rem;
		margin: 3rem 0rem;
	}


	.video-thumbnail-container{
		width: 40%;
		padding-right: 1rem;
	}

	.video-thumbnail{
		width: 100%;
	}

	.video-title{
		font-family: "LemonMilk", Verdana, Tahoma;
		font-size: 2.5rem;
	}

	.video-info{
		font-family: 'Champagne_Limousines', Verdana, Tahoma;
		font-size: 2rem;
	}

	.thumbnail-card{
		display:flex;
		margin-bottom: 1rem;
	}

	.social-icon-container{
		width: 15%;
	}

	.social-icon{
		height:60%;
	}
